body{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

header{
	padding-top: 35px;
}

header h1{
	padding-bottom: 10px;
}

header nav{
	padding-top: 25px;
	padding-bottom: 40px;
}

nav button {
	margin-bottom: 10px;
}

.bg-gray{
	background-color: rgb(136,136,136);
}

.text-white{
	color: white;
}

.text-bold{
	font-weight: bold;
}

.button-white{
	background-color: white;
	color: rgb(136,136,136);
	width: 150px;
	margin-left: 20px;
	margin-right: 20px;
}

.button-white:hover{
	color: white;
	background-color: rgb(136,136,136);
	text-decoration: none;
	border: 1px solid white;
}

.content{
	padding: 50px 85px 85px; 
	background-color: rgb(240,240,240);
}

.content .product-card{
	background-color: white;
	margin-bottom: 20px;
	border: 1px solid rgb(228,228,228);
	padding: 150px 20px 20px;
	border-radius: 5px;
}

.gray-link{
	background-color: rgb(249,249,249);
	border: 1px solid rgb(136,136,136);
	color: rgb(136,136,136);
}

.gray-link:hover{
	text-decoration: none;
	color: rgb(249,249,249);
	border: 1px solid rgb(136,136,136);
	background-color: rgb(136,136,136);
}

.product-card .title,
.product-card .description,
.product-card .initial-price,
.product-card .final-price{
	margin-bottom: 10px;
}

.content .page-title {
	margin-bottom: 50px;
}

.share-news{
	padding-top: 150px;
}

.send-button{
	width: 200px;
}

.more-products{
	margin-top: 30px;
}

footer{
	padding-top: 35px;
	padding-bottom: 50px;
}